.wrapper-Pages {
  position: relative;
  background-color: #2e2e41;
  color: #ffffff;
  height: 100%;
}
.wrapper-card-Pages {
  background-color: #2e2e41;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-Pages {
  position: relative;
  background-color: #22212f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 210px;
  flex-basis: 25%;
  border-radius: 30px;
  margin: 15px;
  padding: 15px;
}
.card-Pages:hover {
  background-color: #2a2939;
  box-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.02),
    0 4.9px 5.3px rgba(0, 0, 0, 0.028), 0 9.3px 10px rgba(0, 0, 0, 0.035),
    0 16.5px 17.9px rgba(0, 0, 0, 0.042), 0 30.9px 33.4px rgba(0, 0, 0, 0.05);
}
.title-card-Pages {
  margin: 4px 0;
}
.img-card-Pages {
  width: 160px;
  height: 210px;
  border-radius: 10px;
  margin: 15px 0;
}
.author-card-Pages {
  font-size: 14px;
  margin: 0;
}
.type-card-Pages {
  font-size: 14px;
  align-self: flex-start;
  margin: 0;
  padding: 5px;
}
.title-searchPage {
  width: 100%;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  padding: 25px;
  margin: 0;
}
.input-form-search {
  width: 60%;
  height: 28px;
  padding: 0 8px;
  margin-top: 8px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: none;
}
.label-input-form-search {
  display: flex;
  justify-content: center;
}
.wrapper-button-Pages {
  display: flex;
  justify-content: center;
}
.favorite-button-Pages {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.favorite-book {
  color: #e34854;
  width: 16px;
  margin: 0 6px;
}
.nofavorite-book {
  color: #55556b;
  width: 16px;
  margin: 0 6px;
}
.delete-logo-Pages {
  width: 16px;
  margin: 0 6px;
}
.delete-button-Pages {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.end-Pages {
  height: 65px;
}

/* ______MediaQuerie_____ */

@media screen and (min-width: 750px) {
  .wrapper-card-Pages {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .delete-logo-Pages,
  .nofavorite-book,
  .favorite-book {
    width: 22px;
    height: 22px;
  }
}
